.enGrand {
  font-size: 100px;
  color: red;
}
.enMoyen {
  font-size: 50px;
  color: rebeccapurple;
}
table,tr,td{
 border: 2px solid black; 
 font-size: 50px;
 text-align: center;
 padding: 20px;
}
.contenue_td{
  background-color: chartreuse;
}
.fermé{
  background-color: red;
}
