.enGrand
{
    text-align: center;
    width: 80%;
    right: 80%;
    font-size: 50px;
    color: red;
<<<<<<< HEAD
    background-color: burlywood;}
=======
}

>>>>>>> origin/xavier
.enMoyen
{
    text-align: center;
    width: 80%;
    right: 80%;
    font-size: 50px;
    color: rebeccapurple;
    background-color: chartreuse;
}
<<<<<<< HEAD
.enPetit
{
    text-align: center;
    width: 80%;
    right: 80%;
    font-size: 50px;
    color: rgb(114, 38, 185);
    background-color: rgb(138, 225, 231);
}
=======

.klass_default
{
    font-size: 10px;
    color: gray;
}
>>>>>>> origin/xavier
