body {
    top: 0;
    left: 0; 
    object-fit: cover;
    max-width: fit-content;
    max-height: fit-content;
}

.contenair {
    display: flex;
}

/* Format paysage */
@media screen and (orientation: landscape) {
	.losc_index_portrait {
		display: none;
	}
}
/* Format portrait */
@media screen and (orientation: portrait) {
	.losc_index_paysage {
		display: none;
	}
}